body {
  padding-top: 100px; /* Ensure content does not overlap with fixed header */
}

.fixed-top {
  z-index: 1030; /* Ensure the header is always on top */
}

audio {
  width: 100%; /* Ensure audio controls take full width */
}

header{
  max-height: 118px;
}

@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group .form-control {
    margin-bottom: 10px;
  }
}

#load-more {
  opacity: 0;
}

.logo {
  height: 64px; /* Set a fixed height for the logo */
  width: auto; /* Maintain aspect ratio */
  transition: opacity 0.3s ease-in-out; /* Smooth transition for visibility */
}

/* Initially, logo2 is hidden */
#logo2 {
  display: none;
}

.navbar {
  flex-wrap: nowrap; /* Prevent navbar items from wrapping */
  padding-bottom: 0; /* Remove bottom padding */
}

.navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #favorites-bar.hidden {
    display: none;
  }

  #search-bar.hidden {
    display: none;
  }

  #search-bar h2, #favorites-bar h2 {
    display: none;
  }
  #mobile-tabs {
    position: sticky;
    top: 118px;
    z-index: 9;
    background: white;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  #favorites-bar {
    position: fixed;
    right: 1em;
    overflow-y: scroll;
    max-height: 63vh;
    box-shadow: 1px 2px 17px 0px #00000038;
    padding: 0.5em;
  }
  
}



